<div class="app-container">
  <aside class="sidebar">
    <div class="logo">
      <img src="../public/Plant manager.png" alt="Logo" />
    </div>
    <nav class="menu">
      <br>
      <ul>
        <li>
          <a routerLink="/ajouter" routerLinkActive="active">Ajouter une plante</a>
        </li>
        <li>
          <a routerLink="/liste" routerLinkActive="active">Liste des plantes</a>
        </li>
        <li>
          <a routerLink="/historique" routerLinkActive="active"
            >Historique d'arrosage</a
          >
        </li>
        <li>
          <a routerLink="/conseils" routerLinkActive="active"
            >Conseils & ressources</a
          >
        </li>
        <li class="notification-menu">
          <a
            routerLink="/notifications"
            routerLinkActive="active"
            class="notification-link"
          >
            Notifications
            <span class="notification-badge">{{ notificationCount }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <div class="main-content">
    <header class="header">
      <h1>Votre Gestionnaire de Plantes</h1>
    </header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <!-- Section de gauche -->
    <div class="footer-left">
      <div class="footer-logo">
        <img src="../public/leaf.png" alt="Logo" />
      </div>
      <p>&copy; 2024 Plant Manager. Tous droits réservés.</p>
    </div>

    <!-- Section du centre -->
    <div class="footer-social">
      <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
